<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/pic1.png">

    <title>About </title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="./images/pic2.png"><br>
    </div>

    {{>footer}}

</body>
</html>